# Discord stuff
discord_token=
discord_channel_id=
developer_id=
editor_id=
bot_id=
role_id=
auto_role=
sub_role=
channel_command_id=
special_role_1=
special_role_2=

# youtube stuff
youtube_api_key=
youtube_handle=
youtube_channel_id=

# database stuff
host_db=
user_db=
password_db=
database_db=
